
.about-container {
    display: flex;
    flex-direction: column; /* Título arriba, contenido abajo */
    justify-content: space-between;
    align-items: space-between;
    background-color: #ffffff; /* Fondo blanco */
    color: #1D2334; /* Texto gris oscuro */
    min-height: 12vh; /* Altura completa del viewport */
    /* border: 2px dashed black; Añade un borde visible */
}

.about-container h2 {
    font-size: 36px;
    color: #1D2334; /* Gris oscuro */
    font-weight: bold;
    margin-bottom: 10px; /* Espaciado inferior */
    text-align: center;
}

.about-content {
    color: var(--black);
    padding-top: 1.12%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: row; /* Coloca las columnas una al lado de la otra */
    width: 100%; /* Ocupa todo el ancho */
    text-align: center; /* Texto centrado en pantallas pequeñas */
    align-items: center;
}

.about-text {
    flex: 1.2; /* Ocupa la mitad del espacio */
    text-align: left; /* Texto alineado a la izquierda */
    padding: 0 0px; /* Espaciado interno horizontal */
}

.about-text p {
   
    line-height: 1.6;
    margin: 2px 0 0 3px;
    font-size: 24px;
    font-family: "Poppins Light" ;
    color: var(--black);
    margin-bottom: 1rem; /* Espaciado entre párrafos */

}


.about-text a {
    color: #f95738; /* Naranja del botón */
    font-weight: bold;
    text-decoration: none;
}

.about-text a:hover {
    text-decoration: underline;
}

.about-image {
    flex: 0.76; /* Ocupa la mitad del espacio */
    display: flex;
    justify-content: center; /* Imagen centrada horizontalmente */
    align-items: center; /* Imagen centrada verticalmente */
    width: 100%; /* Ocupa el 40% del ancho desde el lado derecho */
    height: 100%; /* Cubre toda la altura */
    background-image: url('../../assets/Home/galaxy-arms-icon-mod-fondo.png'); /* Imagen del fondo */
    background-repeat: no-repeat;
    background-size: 168%; /* Zoom al 150% de la imagen original */
    opacity: 0.95; /* Añade un efecto de transparencia */
}

.about-image img {
    background-image: url('../../assets/Home/galaxy-arms-icon-mod.png');
    border-radius: 10%; /* Imagen redonda */
    height: 70%;
    width: 50%;
    background-size: 10%; /* Zoom al 150% de la imagen original */
    border-radius: 0.5%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.90; /* Añade un efecto de transparencia */
    object-fit: cover; /* Mantiene proporciones */
}


/* Decoración bajo el título */
.underline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative;
    margin-bottom: 8px;

}

.underline::before,
.underline::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color:#A9A9A9; 
    margin: 0 0px;
}

.circle {
    width: 45px;
    height: 6px;
    background-color:  #FF5823; ; /* Naranja */
    border-radius: 3px; /* Hace los bordes redondeados */
}


.profile-options {
    padding: 0.30%;
    padding-top: 1.25%;
    padding-left: 2.15%;
    padding-right: 2.25%;
    display: flex; /* Activa Flexbox */
    justify-content: space-between; /* Espaciado entre los botones */

    /* border: 2px dashed black;  Añade un borde visible negro */


}

.profile-options .highlighted-btn{
    margin: 0 0 0 2px;
}

.profile-options .highlighted-btn:hover{
    margin: 0 0 0 2px;
    background-color: cornsilk;
    color: black;
}


/* Responsividad para pantallas más pequeñas */
@media screen and (max-width: 768px) {

    .underline::before,
    .underline::after {
        width: 40px;
    }

    .circle {
        width: 15px;
        height: 5px;
    }
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Cambia a diseño vertical */
        padding: 2%;

    }

    .about-image img {
        width: 200px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
        height: 200px;
    }

    .about-container h2 {
        font-size: 28px;
        color: #1D2334; /* Gris oscuro */
        font-weight: bold;
        margin-bottom: 5px; /* Espaciado inferior */
        text-align: center;
    }

    .about-text {
        padding: 5%;
        text-align: left; /* Texto centrado en pantallas pequeñas */
        font-size: 18px;

    }
}


/* Nivel responsivo 1: Pantallas medianas (entre 1110px y 810px) */
@media screen and (max-width: 1110px) {
    .about-content {
        flex-direction: flex; /* Cambia a diseño vertical */
        text-align: center; /* Texto centrado en pantallas pequeñas */
        align-items: center;
    }

    .about-text p {
   
        line-height: 1.6;
        margin: 2px 0 0 3px;
        font-size: 18px;
        font-family: "Poppins Light" ;
        color: #666; /* Texto en gris */
    }
    
    .about-container h2 {
        font-size: 28px;
        color: #1D2334; /* Gris oscuro */
        font-weight: bold;
        margin-bottom: 5px; /* Espaciado inferior */
        text-align: center;
    }

    .profile-options {
        padding: 0.30%;
        padding-top: 1.25%;
        padding-left: 5.15%;
        padding-right: 3.25%;
        display: flex; /* Activa Flexbox */
        justify-content: space-between; /* Espaciado entre los botones */
    
        /* border: 2px dashed black;  Añade un borde visible negro */
    
    
    }
    
}