.footer-container{
    height: 1%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-right: -0%;
    margin-left: 0%;
    margin-bottom: -0%;
    padding: 0; /* Elimina relleno interno */
    position: relative;
}

@media only screen and (max-width: 1110px) {
    .footer-parent{
        display: flex;
        align-items: flex-end;
    }
    
}